@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Luxae stores two types of personal data:</p>

<ul>
    <li>Profile data (e.g. username, email)</li>
    <li>User contributions (e.g. book metadata, publisher information)</li>
</ul>

<p>Profile data will not be shared with any third party except as required by law.</p>

<p>
    Profile data may be downloaded or deleted at any time by the user. Older versions of this data may exist in offline backups; if your profile is
    deleted, it will remain in those copies until they expire. This process is permanent and irreversible.
</p>

<p>
    User contributions are irrevocably licensed to the site per the <a asp-area="" asp-page="/TermsOfService">Terms of Service</a>. These contributions
    may not be deleted. If a profile is deleted, the contributions will remain, but will no longer be associated to you. If you create a new profile
    later, this will not reassociate prior contributions to you.
</p>
