@page
@model TermsOfServiceModel
@{
    ViewData["Title"] = "Terms of Service";
}
<h1>@ViewData["Title"]</h1>

<p>
    This site is free for anybody to browse anonymously. The database contents are made available under the
    <a href="http://opendatacommons.org/licenses/dbcl/1.0/" target="_blank">ODC Database Contents License v1.0</a>.
</p>

<p>
    All contributions to Luxae are licensed to the site under the <a href="http://opendatacommons.org/licenses/dbcl/1.0/" target="_blank">ODC Database
    Contents License v1.0</a> or later. Please review the contents of the license and <a asp-area="" asp-page="/Privacy">our Privacy Policy</a> before
    creating an account and contributing the site.
</p>
